body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header dan Footer */
.header,
.footer {
  background: linear-gradient(to right, #00A4FF, #00c3ff);
  color: white;
  text-align: center;
  padding: 30px;
}

.header h1 {
  font-size: 22px;
  margin: 0;
}

.header h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}

/* Container utama */
.container {
  display: flex;
  flex: 1; /* mengisi ruang antara header dan footer */
  min-height: 0;
}

/* Sidebar */
.sidebar {
  background: #99E6FF;
  padding: 15px;
  flex-shrink: 0;
  width: 180px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 0; /* hilangin jarak default */
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  background: #435FFB;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 6px; /* kasih jarak kecil antar tombol */
}

.sidebar a:hover,
.sidebar a.active {
  background: #2c45c5;
  color: #fff;
}

/* Konten */
.content {
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
  border-left: 2px solid gray;
  overflow-y: auto;
}

.content h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form */
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  max-width: 500px;
  margin: auto;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  background: #00A4FF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0088cc;
}

/* Footer */
.footer {
  font-size: 14px;


  .sidebar {
    width: 100%;
  }

  .sidebar ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .sidebar li {
    margin: 0;
  }

  .sidebar a {
    margin-bottom: 0; /* hapus jarak bawah kalau di HP biar rata */
  }
}